{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>

    {% if user.auth != True %}
        <h5 class="errornote" style="color: brown">{{ loginError }}</h5>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button type="submit">Login</button>
    </form>
{% endblock %}
