{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h3>home page</h3>
    {% for result in search_list  %}
    <h3>{{result.text}}</h3><br>
      {# {{result.author}} #}
    {% endfor %}

    <div id="posts">
      {% for post in search_list %}

          <div class="comment-main-level">
              <!-- Avatar -->
              {% if post.author.user_image %}

                  <div class="comment-avatar"><img src="/{{ post.author.user_image.url }}" alt=""></div>
              {% else %}
                  <div class="comment-avatar"><img src="{% static 'images/userDefoultAvatar/Avatar.png' %}"
                                                   alt=""></div>
              {% endif %}
              <!-- Contenedor del Comentario -->
              <div class="comment-box">
                  <div class="comment-head">
                      <h6 class="comment-name by-author"><a
                              href="#">{{ post.author }}</a></h6>
                      <span>Post Created: {{ post.create_data }}</span>
                      <i class="fa fa-reply"></i>
                      <i class="fa fa-heart"></i>
                  </div>
                  <div class="comment-content">
                      {{ post.text }}
                  </div>

                  {# <div class="container">#}
                  <a href="/post/get/{{post.id}}"><button type="button" name="button"> more</button></a>

                  {# </div>#}
              </div>

          </div>

          </li>
      {% endfor %}
    </div>


{% endblock %}
<script type="text/javascript" src="{% static 'js/search.js' %}"></script>

{% block js %}
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
{% endblock js%}
