{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
  <title>post</title>
{% endblock %}
{% block content %}
    <div class="">
        <h3> Logined width {{ request.user.username }}!</h3>
        <a href="{% url 'logout' %}">logauth</a>
        <div >
          <form  action="search/" class="navbar-form navbar-left" id='search-form'>
                 <div class="form-group">
                   <button type="submit" class="btn btn-default btnSearch" id='searchPost'>Search</button>
                   <input type="text" class="search-input" placeholder="Search..." width="50px" name='q'>
                 </div>
          </form>
        </div><br>

    </div>
    <div class="col-md-12 column postAddClass">
        <form method="post">
          {% csrf_token %}
            <div class="col-md-8 col-md-offset-2 fieldWrapper form-group">
                <select name="author" required="" id="id_author" style="display:none">
                  <option for='author' value="{{request.user.id}}" type="hidden">{{request.user.username}}</option>
                </select>
                {# {{ form1.text }} #}
                <div class="form-group">
                   <label for="comment">ADD Post:</label>
                   <textarea class="form-control" name="text" required="" cols="20" maxlength="300" id="id_text" rows="4" placeholder="Enter your comment her..."></textarea>
                </div>
                <input type="submit" name="" value="Post" class="btn btn-primary">
            </div>
        </form>
    </div>

    {% block search %}

    <div class="posts">
          <!-- div vith ajax search  -->
    </div>
    {% endblock search %}
    <div class="comments-container divforpostsWiew">
        <ul id="comments-list" class="comments-list">
            {% for post in posts %}
                <div class="comment-main-level">
                    <!-- Avatar -->
                    {% if post.author.user_image %}
                        <div class="comment-avatar"><img src="/{{ post.author.user_image.url }}" alt=""></div>
                    {% else %}
                        <div class="comment-avatar"><img src="{% static 'images/userDefoultAvatar/Avatar.png' %}"alt=""></div>
                    {% endif %}
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name by-author"><a
                                    href="#">{{ post.author }}</a></h6>
                            <span>Post Created: {{ post.create_data }}</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            {{ post.text }}
                        </div>

                        {# <div class="container">#}
                        <!--  like button -->
                        <a href="/post/get/{{post.id}}">
                          <button type="button" class="btn btn-outline-secondary"name="button">Read more &raquo;</button>
                        </a>
                        {# <a href="/post/addlike/{{post.id}}/" id='likevalue'> <img src="{%static 'images/icon/like.png'%}" alt="Like" id='like' class="img-rounded center-block"></a>{{post.like}} #}
                        <span id='likevalue' data='{{ post.id}}'><img src="{%static 'images/icon/like.png'%}" alt="Like" id='like' class="img-rounded center-block"><span ><small id="countlike{{post.id}}">{{post.like}}</small></span></span>
                        {# <a href="/post/addlike/{{post.id}}/"><img src="{%static 'images/icon/dislike1.png'%}" alt="Dislike" id='dislike' class="img-rounded center-block"></a>{{post.dislike}} #}

                        {# </div>#}
                    </div>
                </div>
                </li>
            {% endfor %}

        </ul>
        <!-- pagination div -->
        <div class="pagination">
              <span class="step-links">
                  {% if posts.has_previous %}
                      <a href="?page=1">&laquo; first &nbsp;</a>
                      <a href="?page={{ posts.previous_page_number }}">previous</a>
                  {% endif %}

                  <span class="current">
                      Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                  </span>

                  {% if posts.has_next %}
                      <a href="?page={{ posts.next_page_number }}">next &nbsp;</a>
                      <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                  {% endif %}
              </span>
          </div>

    </div>


    {% block js %}
        <script type="text/javascript" src="{% static 'js/jsajax.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/myjs.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock js %}


{% endblock content %}
