{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
      <div class="">
          <h3> Logined width {{ request.user.username }}!</h3>
          <a href="{% url 'logout' %}">logauth</a>
      </div>
      <div class="comments-container">
          <ul id="comments-list" class="comments-list">
                                +++++++++++++++{{posts.author_id}}

                  <div class="comment-main-level">
                      <!-- Avatar -->
                      {% if posts.author.user_image %}

                          <div class="comment-avatar"><img src="/{{ posts.author.user_image.url }}" alt=""></div>
                      {% else %}
                          <div class="comment-avatar"><img src="{% static 'images/userDefoultAvatar/Avatar.png' %}"
                                                           alt=""></div>
                      {% endif %}
                      <!-- Contenedor del Comentario -->
                      <div class="comment-box">
                          <div class="comment-head">
                              <h6 class="comment-name by-author"><a
                                      href="#">{{ posts.author }}</a></h6>
                              <span>Post Created: {{ posts.create_data }}</span>
                              <i class="fa fa-reply"></i>
                              <i class="fa fa-heart"></i>
                          </div>
                          <div class="comment-content">
                              {{ posts.text }}
                          </div>
                          <span class="glyphicon glyphicon-comment"><input type="button" value="Comment {{ comentCount }}"  data-toggle="collapse" class='commentbtn'></span>
                      </div>

                  </div>
                  <!-- Comment to Posts -->
                  <div class='comentIncoment'>

                      <ul class="comments-list reply-list">
                          {% for comment in comments %}
                              <li>
                                  <!-- Avatar -->author_id{{user.id}}
                                  {% if comment.author_comment.author.user_image %}
                                      <div class="comment-avatar"><img
                                              src="/{{ comment.author_comment.author.user_image.url }}" alt=""></div>
                                  {% else %}
                                      <div class="comment-avatar"><img
                                              src="{% static "/images/userDefoultAvatar/Avatar.png" %}" alt=""></div>
                                  {% endif %}
                                  <!-- Contenedor del Comentario -->
                                  <div class="comment-box">
                                      <div class="comment-head">
                                          <h6 class="comment-name"><a href="#">{{ comment.author_comment }}</a></h6>
                                          <span>{{ comment.create_data }}</span>
                                          <i class="fa fa-reply"></i>
                                          <i class="fa fa-heart"></i>
                                      </div>
                                      <div class="comment-content">
                                          {{ comment.text_coment }}
                                      </div>
                                  </div>
                              </li>
                          {% endfor %}
                      </ul>
                  </div>
                  {% if commentError %}
                    {{commentError}}
                  {% endif %}
                  </li>
              {# {% endfor %} #}
          </ul>
      </div>

      <div class="col-md-12 column">
        <form method="post">
            {% csrf_token %}
              <div class="col-md-8 col-md-offset-2 fieldWrapper form-group">

                  <select name="author_comment" required="" id="id_author_comment" style="display:none">
                      <option value="{{request.user.id}}">{{request.user.username}}</option>
                    </select>
                    <select name="post_coment" required="" id="id_post_coment" style="display:none">
                      <option value="{{posts.id}}"></option>
                    </select>
                    <div class="form-group">
                       <label for="comment">ADD Coment:</label>
                       <textarea class="form-control" name="text_coment" required="" cols="20" maxlength="300" id="id_text_coment" rows="4" maxlength="300" placeholder="Enter your comment her..."></textarea>
                    </div>
                  {# {{ form.text_coment}} #}

                  <input type="submit" name="" value="Add comment" class="btn btn-primary">
              </div>
          </form>
      </div>

      {% block js %}
          <script type="text/javascript" src="{% static 'js/myjs.js' %}"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      {% endblock js %}


{% endblock %}
